
.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: rgb(146, 146, 146);
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid transparent;

}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: rgb(90, 70, 70);
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;

}